.mon_border_style {
	#border-style: solid;
	#border-color: rgb(0, 86, 152);
	border-radius: 40px;
}
.card.mon_padding {
	#margin-top: 10 !important;
	mdb-card-spacer-x: 3.5rem !important;
}
.box1 {
	color:white;
	background-color:#4ABDAC;
	border:1px solid #4ABDAC;
	font-size:15px;				
}

.box2 {
	color:white;
	background-color:#F7882F;
	border:1px solid #F7882F;
	font-size:15px;				
}

.box3 {
	color:white;
	background-color:#6C648B;
	border:1px solid #6C648B;
	font-size:15px;				
}

.box4 {
	color:white;
	background-color:#CF6766;
	border:1px solid #CF6766;
	font-size:15px;				
}